# =====================
# Backend (Django)
# =====================
backend/entorno/
backend/__pycache__/

# =====================
# Python
# =====================
*.pyc
__pycache__/

# =====================
# Env
# =====================
.env

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
